body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(224, 189, 131);
  font-family: monospace;
}

#intro {
  margin-top: 20px;
}

#intro h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

header {
  text-align: center;
  padding: 20px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: burlywood;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper .input-box {
  width: 100%;
}

.input-box input {
  border: none;
  outline: none;
  border: 2px solid rgba(203, 95, 95, 0.1);
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
}

.remember-forgot label input {
  accent-color: white;
  margin-right: 3px;
}

.remember-forgot a {
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  background-color: rgb(160, 131, 84);
  color: white;
  padding: 15px 30px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 200px;
  border-radius: 10px;
  font-size: 20px;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.wrapper .btn:hover {
  background-color: rgb(140, 120, 70);
}

.btn-upload {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: rgb(160, 131, 84);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 30%;
  border-radius: 10px;
  font-size: 18px;
}

.btn-upload:hover {
  background-color: #b86a38;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #ccc;
}

#teamSizeButton {
  margin-left: 1em;
}

.popup-title {
  font-size: 1.8em;
  font-weight: bold;
  color: #e74c3c;
  text-align: center;
}
.popup-text-container {
  font-size: 1.4em;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: justify !important;
  padding: 15px 50px !important;
}
.popup {
  border-radius: 15px;
}
.popup-confirm {
  background-color: #c0392b;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 30px;
}
.popup-confirm:hover {
  background-color: #e74c3c;
}

.bribe-btn {
  width: 200px;
  position: absolute;
  bottom: calc(20px + env(safe-area-inset-bottom));
  right: calc(20px + env(safe-area-inset-right));
  opacity: 0.05;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 2px solid #333;
  padding: 15px 15px;
  font-size: 14px;
  border-radius: 10px;
  cursor: default;
  transition: opacity 0.5s ease, visibility 0s 0.5s, box-shadow 0.5s ease;
}

.bribe-btn:hover {
  opacity: 1; /* Make it visible when hovered */
  box-shadow: 0 0 8px 3px rgba(138, 43, 226, 0.5),
    0 0 12px 6px rgba(138, 43, 226, 0.2);
  animation: shimmer 0.8s ease infinite alternate;
  transition: opacity 0.5s ease, visibility 0s, box-shadow 0.8s ease;
  animation: jitter 0.5s ease infinite;
}

.bribe-popup {
  position: absolute;
  bottom: calc(20px + env(safe-area-inset-bottom));
  right: calc(20px + env(safe-area-inset-right));
  width: 550px;
  height: 500px;
  border-radius: 15pt;
  box-shadow: 0 0 80px 50px #6f4f97;
  background-color: #1b1b1ef3;
}
.bribe-sent {
  position: absolute;
  bottom: calc(20px + env(safe-area-inset-bottom));
  right: calc(20px + env(safe-area-inset-right));
  border-radius: 15pt;
  box-shadow: 0 0 80px 50px #6f4f97;
  background-color: #1b1b1ef3;
}

.sent-title {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(223, 221, 221);
  text-align: center;
  margin: 15px;
  margin-top: 0px;
}

.bribe-popup p {
  color: rgba(174, 174, 174, 0.744);
}

.test {
  color: #2a2a3d8d;
}

.bribe-title {
  font-size: 1.8em;
  font-weight: bold;
  color: rgb(223, 221, 221);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.bribe-text-container {
  font-size: 1.4em;
  color: rgb(223, 221, 221);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center !important;
  padding: 15px 50px !important;
}

.bribe {
  border-radius: 15px;
}

.bribe-sent-btn {
  background-color: #593b7e;
  color: rgb(223, 221, 221);
  font-weight: bold;
  border-radius: 15px;
  margin: 0px 12pt;
  margin-bottom: 40px;
  padding: 10px 30px;
}
.bribe-sent-btn:hover {
  background-color: #845db3;
}

/* Select and input base styles */
select,
input[type="text"] {
  background-color: #4e3a59; /* Dusty Purple */
  color: #d1c9e1; /* Soft Lavender Gray text */
  border: 1px solid #6f4f97; /* Muted Purple (Devil Emoji Purple) */
  border-radius: 5px;
  padding: 15px 12px; /* Increased padding for more space inside */
  width: 65%;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 5px rgba(111, 79, 151, 0.2); /* Subtle shadow from the muted purple */
  height: 40px; /* Increased height */
}

/* Spacing and layout adjustments */
select {
  margin: 0px 10px;
  margin-bottom: 25px;
}

input[type="text"] {
  width: 60%;
}

select:hover {
  box-shadow: 0px 0px 8px rgba(32, 87, 15, 0.5); /* Stronger purple glow */
  border-color: #4e3a59; /* Blood red border on hover */
}

select:focus,
input[type="text"]:focus {
  background-color: #4e3a59;
  box-shadow: 0px 0px 10px rgba(32, 87, 15, 0.5); /* Blood red glow */
  color: #ffffff; /* White text for sharp contrast */
}

/* Placeholder styling for the input */
input[type="text"]::placeholder {
  color: #888888; /* Slightly faded gray for placeholder text */
  font-style: italic;
}

/* Specific styling for the amount dropdown */
#amount {
  color: #f5f5f5; /* Light color to indicate money */
  font-weight: bold;
}

/* Specific styling for the grade dropdown */
#grade {
  color: #cccccc;
  font-weight: bold;
}

@keyframes shimmer {
  0% {
    box-shadow: 0 0 8px 3px rgba(138, 43, 226, 0.2),
      0 0 12px 6px rgba(138, 43, 226, 0.1);
  }
  100% {
    box-shadow: 0 0 8px 3px rgba(138, 43, 226, 0.7),
      0 0 12px 6px rgba(138, 43, 226, 0.4);
  }
}

@keyframes jitter {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(1px);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}
