body {
    font-family: monospace;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: rgb(224, 189, 131);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #b86a38;
    margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #b86a38;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #d59b61;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.wrapper .btn {
    background-color: rgb(160, 131, 84);
    color: white;
    padding: 15px 30px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    transition: background-color 0.3s;
    white-space: normal;
}

.wrapper .btn:hover {
    background-color: rgb(140, 120, 70);
}