body {
  font-family: Arial, sans-serif;
  background-color: burlywood; /* Updated */
  margin: 0;
  padding: 0;
  color: #333;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1,
h2,
h3 {
  text-align: center;
  color: #4b2e2e; /* Updated */
}

/* Detailed View Section */
h2 {
  margin-top: 30px;
  font-size: 1.5rem;
  color: white;
}

h3 {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #e0c09a; /* Updated */
}

/* Evaluation Container */
.evaluation-container {
  background: #ffffffba;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.evaluation-title {
  text-align: center;
  font-size: 1.5rem;
  color: #4b2e2e; /* Title color */
  margin-bottom: 20px;
}

/* Evaluation Categories */
.evaluation-category {
  border-top: 1px solid #ddd;
  padding: 15px 10px;
}

.category-title {
  font-size: 1.2rem;
  color: #cc9d64; /* Updated */
  margin: 0;
  margin-bottom: 15px;
}

p {
  margin: 5px 0;
  color: #666;
}

/* Back Button */
.btn {
  display: block;
  margin: 20px auto;
  font-size: 18px;
  margin-top: 20px;
  background-color: rgb(160, 131, 84);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 10px;
  font-size: 18px;
}

.btn:hover {
  background-color: #0056b3;
}

/* Comments Section */
ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
  font-size: 1rem;
  padding: 5px;
}

ul li strong {
  color: #4b2e2e; /* Updated */
}

ul li:before {
  content: "• ";
  color: #4b2e2e; /* Updated */
  margin-right: 8px;
}

/* Comments from Students */
ul li.no-comment {
  color: white;
}

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
  h1,
  h2,
  h3 {
    font-size: 1.2rem;
  }

  ul li {
    font-size: 0.9rem;
  }

  .evaluation-container {
    padding: 15px;
  }
}
