body {
    background-color: burlywood;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type="range"] {
    width: 90vw;
    height: 8px;
    outline: none;
    -webkit-appearance: none;
    border-radius: 6px;
    margin-top: 20px;

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.material-icons {
    color: rgba(115, 47, 2, 0.533);
    font-size: 130px;

}