<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation of Evaluation</title>
    <link rel="stylesheet" href="/MainPage.css" />
    <link rel="stylesheet" href="/Evaluation.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <header><h1>Peer Assessment Tool</h1></header>
    <main>
      <section id="intro">
        <h2>Thanks!</h2>
      </section>
      <h3>Your evaluation was submitted.</h3>
      <p>
        Note your comments and evaluation will remain anonymous to your
        teammates.
      </p>
      <br />
      <button
        class="btn"
        onclick="window.location.href='/evaluate/<%= teammate %>'"
      >
        See Evaluation
      </button>
      <br />
      <div class="review-container">
        <h2>Pop Quiz!</h2>
        <p id="question"><%= ChosenQuestion.question %></p> 

        <form id='answerForm' action="/checkAnswer" method="POST">
            <label for="answer">Your Answer:</label>
            <input type="text" id="answer" name="answer" placeholder="Enter your answer here..." required>

            <input type="hidden" name="question" value="<%= ChosenQuestion.question %>">

            <button type="submit">Submit Answer</button>
        </form>
    </div>
    </main>

    <footer>
      <p>
        &copy; 2024 Peer Assessment Tool. All rights kinda reserved. Product of
        Team ThinkVision
      </p>
    </footer>
  </body>
</html>
