<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation of Evaluation</title>
    <link rel="stylesheet" href="/MainPage.css" />
    <link rel="stylesheet" href="/Evaluation.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet" />
  </head>

  <body>
    <header><h1>Peer Assessment Tool</h1></header>
    <main>
      <section id="intro">
        <h2>Congrats!</h2>
      </section>
      <h3>
        That's the right answer! Thanks for submitting yout peer assessment!
      </h3>
      <p>
        Don't forget to evaluate the rest of your teammates if you haven't done
        so yet.
      </p>
      <br />
      <button class="btn" onclick="window.location.href='/'">Main Page</button>
      <br />
    </main>

    <footer>
      <p>
        &copy; 2024 Peer Assessment Tool. All rights kinda reserved. Product of
        Team ThinkVision
      </p>
    </footer>
  </body>
</html>
