<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/TeamVisibility.css" />
  </head>
  <body>
    <div>
      <div class="team-container">
        <h1><%= teamName %></h1>
        <% teamMembers.forEach(function(member) { %>
        <div class="team-member">
          <a href="/evaluate/<%= member.id %>">
            <img
              id="profile-pic"
              src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
              alt="Profile Picture"
            />
            <div class="info">
              <h2 id="profile-name"><%= member.username %></h2>
              <p id="profile-id"><%= member.id %></p>
            </div>
          </a>
        </div>
        <% }) %>
      </div>
      <div class="btn-container">
        <button class="btn" onclick="window.location.href='/'">
          Back to Homepage
        </button>
      </div>
    </div>
  </body>
</html>
