<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Course Roster</title>
    <link rel="stylesheet" href="/MainPage.css" />
    <style>
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
      }
      .custom-file-upload {
        padding: 10px 20px;
        font-size: 16px;
        color: #ffffff;
        background-color: #4792e1;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        transition: background-color 0.3s ease;
      }

      .custom-file-upload:hover {
        background-color: #0056b3;
      }
    </style>
  </head>

  <body>
    <header>
      <h1>Peer Assessment Tool</h1>
    </header>

    <main>
      <section id="intro">
        <h2>Upload Course Roster</h2>
      </section>
      <% if (uploaded == 0 || uploaded == 2) { %> <% if (uploaded == 2) { %>
      <h4>File not processed. Please verify file format and try again.</h4>
      <% } %>
      <br /><br />
      <form>
        <input
          type="file"
          accept=".csv"
          name="file"
          id="csv"
          style="display: none"
          onchange="displayFileName(this)"
        />
        <label for="csv" class="custom-file-upload" id="file-name">
          Choose File
        </label>

        <br /><br />
        <button
          class="btn-upload"
          type="submit"
          id="btn-submit"
          style="display: none"
        >
          Submit
        </button>
        <br />
        <button class="btn-upload" onclick="window.location.href='/'">
          Back to Homepage
        </button>
      </form>

      <% } %> <% if (uploaded == 1) { %>
      <h4>File uploaded successfully.</h4>
      <button class="btn-upload" onclick="window.location.href='/'">
        Back to Homepage
      </button>
      <% } %>

      <script>
        function displayFileName(input) {
          const fileName = input.files[0]?.name || "No file chosen";
          document.getElementById("file-name").textContent = fileName;
          document.getElementById("btn-submit").removeAttribute("style");
        }

        const form = document.querySelector("form");
        form.addEventListener("submit", (event) => {
          event.preventDefault();
          const toUpload = document.getElementById("csv");
          const formData = new FormData();
          formData.append("file", toUpload.files[0]);

          fetch("/upload/0", {
            method: "POST",
            body: formData,
          })
            .then((res) => res.json())
            .then((data) => {
              let { processed } = data;
              if (processed) {
                window.location.href = "/upload/1";
              } else {
                window.location.href = "/upload/2";
              }
            });
        });
      </script>
    </main>

    <footer>
      <p>
        &copy; 2024 Peer Assessment Tool. All rights kinda reserved. Product of
        Team ThinkVision
      </p>
    </footer>
  </body>
</html>
