name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

defaults:
  run:
    working-directory: ./app

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MYSQL_DATABASE: "pas"
      MYSQL_USER: "root"
      MYSQL_PASSWORD: ""
      MYSQL_HOST: "127.0.0.1"
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with: 
        node-version: ${{ matrix.node-version }}
    - name: Install App Dependencies
      run: npm ci
    - run: npm test